<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Librería - Crear Categoría</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Crear Categoría</h1>
        <form method="POST" action="{{ url_for('create_categoria') }}" class="mt-4">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                {{ form.nombre(class="form-control") }}
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción:</label>
                {{ form.descripcion(class="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</body>
</html>

