<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Detalles del Libro</title>
</head>
<body>
    <div class="container">
        <h1 class="my-4">Detalles del Libro</h1>
        <dl class="row">
            <dt class="col-sm-3">ID</dt>
            <dd class="col-sm-9">{{ libro.id }}</dd>

            <dt class="col-sm-3">Nombre</dt>
            <dd class="col-sm-9">{{ libro.nombre }}</dd>

            <dt class="col-sm-3">Autor</dt>
            <dd class="col-sm-9">{{ libro.autor }}</dd>

            <dt class="col-sm-3">Categoría</dt>
            <dd class="col-sm-9">{{ libro.categoria.nombre }}</dd>

            <dt class="col-sm-3">Fecha de Publicación</dt>
            <dd class="col-sm-9">{{ libro.fecha_publicacion }}</dd>

            <dt class="col-sm-3">Usuario</dt>
            <dd class="col-sm-9">{{ libro.usuario.nombre if libro.usuario else '-' }}</dd>
        </dl>

        <a href="{{ url_for('editar_libro', id=libro.id) }}" class="btn btn-primary">Editar</a>
        <a href="{{ url_for('eliminar_libro', id=libro.id) }}" class="btn btn-danger">Eliminar</a>
    </div>
</body>
</html>