<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Detalles del Usuario</title>
</head>
<body>
    <div class="container">
        <h1 class="my-4">Detalles del Usuario</h1>
        <dl class="row">
            <dt class="col-sm-3">ID</dt>
            <dd class="col-sm-9">{{ usuario.id }}</dd>

            <dt class="col-sm-3">Nombre</dt>
            <dd class="col-sm-9">{{ usuario.nombre }}</dd>

            <dt class="col-sm-3">Correo Electrónico</dt>
            <dd class="col-sm-9">{{ usuario.correo }}</dd>
        </dl>

        <a href="{{ url_for('editar_usuario', id=usuario.id) }}" class="btn btn-primary">Editar</a>
        <a href="{{ url_for('eliminar_usuario', id=usuario.id) }}" class="btn btn-danger">Eliminar</a>
    </div>
</body>
</html>
